@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;
  --primary: #ef4444;
  --primary-foreground: #ffffff;
  --secondary: #22c55e;
  --secondary-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #ef4444;
  --chart-1: #ef4444;
  --chart-2: #22c55e;
  --chart-3: #ffb95f;
  --chart-4: #ef4444;
  --chart-5: #00b954;
  --radius: 0.25rem;
  --sidebar: #ffffff;
  --sidebar-foreground: #0f172a;
  --sidebar-primary: #ef4444;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f1f5f9;
  --sidebar-accent-foreground: #64748b;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #ef4444;
}

.dark {
  --background: #091421;
  --foreground: #d9e3f6;
  --card: #16202e;
  --card-foreground: #d9e3f6;
  --popover: #16202e;
  --popover-foreground: #d9e3f6;
  --primary: #ffb3ad;
  --primary-foreground: #68000a;
  --secondary: #4ae176;
  --secondary-foreground: #003915;
  --muted: #2b3544;
  --muted-foreground: #e4beba;
  --accent: #212b39;
  --accent-foreground: #d9e3f6;
  --destructive: #ffb4ab;
  --destructive-foreground: #690005;
  --border: #ab8986;
  --input: #ab8986;
  --ring: #ffb3ad;
  --chart-1: #ffb3ad;
  --chart-2: #4ae176;
  --chart-3: #ffb95f;
  --chart-4: #ff5451;
  --chart-5: #00b954;
  --sidebar: #091421;
  --sidebar-foreground: #d9e3f6;
  --sidebar-primary: #ffb3ad;
  --sidebar-primary-foreground: #68000a;
  --sidebar-accent: #2b3544;
  --sidebar-accent-foreground: #e4beba;
  --sidebar-border: #ab8986;
  --sidebar-ring: #ffb3ad;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}